.header {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px black solid;
  background-color: black;
}

.header h2 {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.main p {
  line-height: 24px;
  text-align: center;
  font-size: 18px;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 20px;
  font-size: 12px;
  width: 100vw;
}

.footer p {
  text-align: right;
}


/* Tablet and Smaller Desktop */
@media (min-width: 700px) {
  .main {
    max-width: 768px;
    margin: 0 auto;
  }
  
  .main p {
    line-height: 32px;
    text-align: center;
    font-size: 24px;
  }
}

/* Larger Desktop */
@media (min-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
