.header {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px black solid;
  background-color: black;
}

.header h2 {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 50px 10px;
  align-items: flex-start;
}

.main a:hover h2 {
  background-color: black;
  color: aqua;
}

.main a h2 {
  padding: 10px 5px;
  font-size: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 20px;
  font-size: 12px;
  width: 100vw;
}

.footer p {
  text-align: right;
}


/* Tablet and Smaller Desktop */
@media (min-width: 700px) {
  .main {
    /* min-height: 100vh; */
    align-items: center;
  }
}

/* Larger Desktop */
@media (min-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
