.header {
  font-size: 18px;
  padding: 20px;
}

.header h2 {
  color: aqua;
  border-bottom: 4px aqua solid;
  padding: 10px 25px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  /* min-height: 100vh; */
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 20px;
  font-size: 12px;
  width: 100vw;
}

.footer p {
  text-align: right;
}


/* Tablet and Smaller Desktop */
@media (min-width: 700px) and (max-width: 1119px) {
  
}

/* Larger Desktop */
@media (min-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
