.header {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px black solid;
  background-color: black;
}

.header h2 {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  align-items: center;
}

.main > a {
  display: flex;
  align-items: center;
  display: flex;
  margin: 10px auto;
  padding: 5px 15px 5px 5px;
  border-radius: 5px;
}

.main > a span {
  margin-left: 6px;
}

.main > a:hover {
  transition-duration: 150ms;
  fill: aqua;
  background-color: black;
}

.main > a:hover svg {
  transition-duration: 150ms;
  fill: aqua;
  filter: 
  drop-shadow(0px 0px 7px aqua)
  drop-shadow(0 0 10px aqua)
  drop-shadow(0 0 21px aqua)
  drop-shadow(0 0 151px aqua)
}

.main > a:hover span {
  transition-duration: 150ms;
  color: aqua;
  text-shadow:
    0 0 7px aqua,
    0 0 10px aqua,
    0 0 21px aqua,
    0 0 151px aqua;
}

.main section a {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main section a:hover {
  transition-duration: 150ms;
  border-radius: 0 0 5px 5px;
}

.main section a h2 {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.main section a:hover {
  transition-duration: 150ms;
}

.main section a:hover h2 {
  color: aqua;
  background-color: black;
  transition-duration: 150ms;
  border-radius: 5px;

  text-shadow:
    0 0 7px aqua,
    0 0 10px aqua,
    0 0 21px aqua,
    0 0 151px aqua;
}

.main section a img {
  max-width: 250px;
  max-height: 150px;
  object-fit: cover;

  margin: 5px auto;

  border: 2px solid transparent;
}

.main section a:hover img {
  border-color: aqua;
  transition-duration: 150ms;
  border-radius: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 20px;
  font-size: 12px;
  width: 100vw;
}

.footer p {
  text-align: right;
}

/* Tablet and Smaller Desktop */
@media (min-width: 700px) {
  .main {
    align-items: center;
    justify-content: center;
  }
  
  .main section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .main section a {
    font-size: 20px;
    max-width: 275px;
  }
}

/* Larger Desktop */
/* @media (min-width: 1120px) {
  
} */